<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Overview Of All Available Posts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <h1>Overview Of All Available Posts</h1>
        </div>
        <div class="row row-cols-1 row-cols-md-3">
            {% for post in posts %}
                <div class="col mb-4 d-flex justify-content-center">
                    <a class="card-link d-flex justify-content-center"
                       href="{{ post.rel_link }}">
                        <div class="card col-12 col-sm-9 col-md-12">
                            <img src="/static/images/{{ post.image[0] }}"
                                 class="card-img-top" alt="{{ post.title[0] }} Thumbnail">
                            <div class="card-body">
                                <h5 class="card-title">{{ post.title[0] }}</h5>
                                <p class="card-text">{{ post.subtitle[0] }}</p>
                            </div>
                            <div class="card-footer text-muted">
                                {{ post.published[0] }}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>