<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Post Number 1 - My Blog</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Post Number 1</h1>
        <h2>First Heading</h2>
<p>First paragraph including useful information followed by a code block.</p>
<pre><code class="python">def best_language_in_the_universe(language: str) -&gt; str:
    return f&quot;Python is the best - prove me wrong!&quot;
</code></pre>

<blockquote>
<p>This is a basic blockquote.</p>
</blockquote>
<p>Congratulations, the first one is finished!</p>
    </div>
</body>
</html>